.clear-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
    font-size: 18px;
}

.clear-icon:hover {
    color: #000;
}
